<div id="menu" class="appBox">
  <div class="appBoxPadded">
    <h1>Ember Lists</h1>
  </div>
</div>

<div id="nav" class="appBox">
  {{outlet nav}}
</div>

<div id="content" class="appBox">
  {{outlet content}}
</div>
